@model DACS.Models.SANPHAM
@{
    ViewBag.Title = "Chitietsanpham";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thông tin chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Giá :
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Gia) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px; text-align:justify;">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/Img/Sanpham/"+Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            Chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUDE.TenChuDe)
        </dd>

        <dt>
            Thương hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVILUHANH.TenDV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "Suasanpham", new { id = Model.MaSP }) |
    @Html.ActionLink("Trở về", "Sanpham")
</p>

