@model DACS.Models.KHACHHANG

@{
    ViewBag.Title = "XoaKH";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xác nhận thông tin khách hàng cần xóa</h2>

<h3>Bạn có quyết định xóa khách hàng này?</h3>
<div>
    <h4>KHACHHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            Điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaysinh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ KHÁCH HÀNG", "Khachhang")
        </div>
    }
</div>

